.conteneur {
    justify-content: center;
    display: grid;
    border: 1em solid rgb(137, 236, 137);
    border-radius : 2em;
    background: linear-gradient(90deg, #f0700d, #2ebf91);
    grid-template-columns:  10em 10em 10em 10em 10em;
    grid-template-rows: 10em 10em 10em ;
    padding: 5em;
    margin-inline: 10em;
    margin-top: 5em;
    margin-bottom: 5em;
    gap : 2em;
}
.conteneur2 {
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 2em;
}

.box{
    display :flex;
    align-items: center; /* Centre le texte verticalement */
    justify-content: center;
    text-align: center;
}
.grosBouton_int:active{
       color: crimson;
}
#validChoix:active, #recommencer:active{
        background-color: crimson;
}
.grosBouton, .grosBouton_int{
    align-items: center; /* Centre le texte verticalement */
    justify-content: center;
    text-align: center;
    font-family: Verdana;
    font-size: 1em;
    font-weight: 900;
    height: 10em;
    width: 10em;
    color:rgb(43, 67, 226);
    background-color: yellowgreen;
    border-radius: 1.5em;
}
 #test {background-color: aquamarine;}

.toggle{
    align-items: center; /* Centre le texte verticalement */
    justify-content: center;
    text-align: center;
    font-family: Verdana;
    font-size: 0.8em;
    font-weight: 900;
    height: 7em;
    width: 7em;
    color:rgb(43, 67, 226);
    background-color: yellowgreen;
    border-radius: 1.5em;
}

.reponse{
    background-color: transparent;
    color: transparent;
}