
body {
  background-image: url(../assets/topography2.svg);
  background-repeat: repeat;
  background-position: top left;
  margin:10px;
  font-family:Arial,sans-serif;


}
.conteneur {
  align-items: center;
  justify-content: center;
  display: grid;
  gap: 5%;
  border: 3px solid rgb(137, 236, 137);
  border-radius : 1%;
  background: linear-gradient(90deg, #f0700d, #2ebf91);
  grid-template-columns:  repeat(6, 1fr);
  grid-template-rows: 0.8fr 0.8fr 0.8fr;
  margin-inline: 1%;
  margin-top: 5%;
  padding: 2%;
  margin-bottom: 5%;
  height : 60vh;    
}
.item1 {
  grid-area: b;
}

.box{
  
  margin-left: 3px;
  margin-right: 3px;
  height: 100%;
  width: 100%;
  display :flex;
  align-items: center; /* Centre le texte verticalement */
  justify-content: center;
  text-align: center;
  overflow-wrap: break-word;
}

.grosBouton_int:active{
  color: crimson;
}
#validChoix:active, #recommencer:active{
  background-color: crimson;
}
.grosBouton, .grosBouton_int{
  align-items: center;
  /* Centre le texte verticalement */
  /*justify-content: center;*/
  /*text-align: center;*/
  font-family: Verdana;
  font-size: 75%;
  font-weight: 900;
  height: 100%;
  width: 100%;
  color:rgb(43, 67, 226);
  background-color: yellowgreen;
  border-radius: 10%;
}
.grosBouton_int{
  font-family: Chalkduster;
  font-size: 100%;
}


 #test {background-color: aquamarine;}

.toggle{
    align-items: center; /* Centre le texte verticalement */
    justify-content: center;
    text-align: center;
    font-family: Verdana;
    font-size: 100%;
    font-weight: 900;
    height: 100%;
    width: 100%;
    color:rgb(43, 67, 226);
    background-color: yellowgreen;
    border-radius: 1.5em;
}

.reponse{
    background-color: transparent;
    color: transparent;
}

.mouton {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: -100px;
    font-size: 50px;
    transform: scaleX(1);
    transform: rotate(-90deg);
    animation: traverser 15s linear infinite;
  }
  @keyframes traverser {
    100% {
      left: -100px;
    }
    0% {
      left: 105%;
    }
  }
datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 80%;
  height: 80%;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 80%;
  margin: 0;
}

.one {
  grid-column-start: 2;
  grid-column-end: 3;
}
.two {
  grid-column-start: 3;
  grid-column-end: 4;
}
.three {
  grid-column-start: 4;
  grid-column-end: 5;
}
.four {
grid-row-start: 1 ;
grid-column-start: 5;
grid-column-end: 6;
}
.five {
grid-row-start: 2;
grid-column-start: 2;
grid-column-end: 6;

}
.six {
grid-row-start: 3;
grid-column-start: 2;
grid-column-end: 4;
}
.seven {
grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: 6;
}